body.responsive-layout.woocommerce .woocommerce-error .button,body.responsive-layout.woocommerce .woocommerce-info .button,body.responsive-layout.woocommerce .woocommerce-message .button,body.responsive-layout.woocommerce.woocommerce-page .woocommerce-error .button,body.responsive-layout.woocommerce.woocommerce-page .woocommerce-info .button,body.responsive-layout.woocommerce.woocommerce-page .woocommerce-message .button {
    margin-bottom: 5px
}

body.responsive-layout.woocommerce .woocommerce-ordering,body.responsive-layout.woocommerce .woocommerce-result-count {
    float: none;
    padding-bottom: 10px
}

body.responsive-layout.woocommerce .woocommerce-result-count {
    margin-bottom: 0
}

[data-elementor-device-mode=mobile] .elementor-widget-archive-posts.has-theme-widget-styles[data-widget_type="posts.vamtam_classic"]:not(.elementor-element-edit-mode).elementor-hidden-mobile,[data-elementor-device-mode=mobile] .elementor-widget-archive-posts.has-theme-widget-styles[data-widget_type="archive-posts.vamtam_classic"]:not(.elementor-element-edit-mode).elementor-hidden-mobile {
    display: none
}

.elementor-widget-form.has-theme-widget-styles .elementor-field-type-radio.elementor-field-group>.elementor-field-subgroup.elementor-subgroup-inline {
    flex-direction: column;
    align-items: center
}

.elementor-widget-form.has-theme-widget-styles .elementor-field-type-checkbox .elementor-field-subgroup.elementor-subgroup-inline {
    grid-template-columns: 1fr;
    align-items: center
}

.elementor-widget-post-comments.has-theme-widget-styles #commentform .form-submit {
    margin: 0!important
}

.elementor-widget-post-comments.has-theme-widget-styles .comments .comment-author {
    display: none
}

[data-elementor-device-mode=mobile] .elementor-widget-posts.has-theme-widget-styles[data-widget_type="posts.vamtam_classic"]:not(.elementor-element-edit-mode).elementor-hidden-mobile,[data-elementor-device-mode=mobile] .elementor-widget-posts.has-theme-widget-styles[data-widget_type="archive-posts.vamtam_classic"]:not(.elementor-element-edit-mode).elementor-hidden-mobile {
    display: none
}

.elementor-section.elementor-element {
    padding: 0 20px
}

.e--ua-appleWebkit .elementor-widget-share-buttons.elementor-grid-0.elementor-share-buttons--align-justify .elementor-widget-container .elementor-grid,.e--ua-appleWebkit .elementor-widget-share-buttons.elementor-grid-0.elementor-share-buttons--align-right .elementor-widget-container .elementor-grid {
    display: inline-block
}

.elementor-widget-shortcode.has-theme-widget-styles.wishlist .woosw-btn {
    bottom: 0
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list {
    margin-top: -30px
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items {
    margin-bottom: 65px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items .woosw-item .woosw-item--remove {
    padding-left: 0!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items .woosw-item .woosw-item--image {
    width: 60px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items .woosw-item .woosw-item--name a {
    font-size: 16px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items tr td {
    padding: 30px 0 30px 10px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list table.woosw-items tr td.woosw-item--actions {
    width: 125px
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list .woosw-items .woosw-item :is(.woosw-item--add,.woosw-item--atc) .button {
    font-size: 10px;
    padding: 14px 10px;
    line-height: 1.3em
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list .woosw-item--price {
    font-size: 12px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list .woosw-item--time {
    font-size: 12px!important
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list .empty-wishlist-icon {
    margin: 20px auto;
    width: 80px
}

.elementor-widget-shortcode.has-theme-widget-styles .woosw-list .woosw-popup-content-mid-message {
    margin: 1em 0
}

.elementor-widget-tabs.has-theme-widget-styles .elementor-tab-mobile-title {
    letter-spacing: inherit
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-view-horizontal .elementor-tab-content {
    border-style: solid;
    border-top-style: none;
    padding: 0
}

html.ios-safari .elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-view-horizontal .elementor-tab-desktop-title {
    display: flex;
    justify-content: center;
    align-items: center
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tabs {
    margin-right: -10px
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-center .elementor-tabs-wrapper,.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-end .elementor-tabs-wrapper,.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-stretch .elementor-tabs-wrapper {
    display: flex
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-center .elementor-tabs-wrapper {
    justify-content: unset
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-end .elementor-tabs-wrapper {
    justify-content: flex-end
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr.elementor-tabs-alignment-stretch.elementor-tabs-view-horizontal .elementor-tab-title {
    width: 100%
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tab-mobile-title {
    display: none
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tabs-content-wrapper .elementor-tab-content .elementor-top-section>.elementor-container>.elementor-row {
    flex-wrap: nowrap;
    overflow: scroll
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tabs-content-wrapper .elementor-tab-content .elementor-top-section>.elementor-container>.elementor-row>.elementor-column {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tabs-wrapper {
    overflow-x: auto;
    flex-wrap: nowrap
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .elementor-tabs-wrapper .elementor-tab-desktop-title {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content
}

.elementor-widget-tabs.has-theme-widget-styles.force-mobile-hr .has-theme-widget-styles.elementor-wc-products ul.products {
    grid-auto-flow: column;
    grid-template-columns: 90%;
    grid-auto-columns: 90%;
    overflow-x: auto;
    padding-bottom: 10px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tabs-wrapper .elementor-tab-title {
    padding: 0 0 25px!important
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tab-content {
    padding: 10px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tab-title {
    padding: 0 10px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tabs-wrapper .elementor-tab-title,.elementor-widget-tabs.has-theme-widget-styles.tabs-simple-heading .elementor-tabs-wrapper .elementor-tab-title {
    padding: 0 0 25px!important;
    margin-left: 45px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tabs-wrapper .elementor-tab-title:first-of-type,.elementor-widget-tabs.has-theme-widget-styles.tabs-simple-heading .elementor-tabs-wrapper .elementor-tab-title:first-of-type {
    margin-left: 10px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tabs-wrapper .elementor-tab-title:last-of-type,.elementor-widget-tabs.has-theme-widget-styles.tabs-simple-heading .elementor-tabs-wrapper .elementor-tab-title:last-of-type {
    margin-right: 10px
}

.elementor-widget-tabs.has-theme-widget-styles.tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active::after,.elementor-widget-tabs.has-theme-widget-styles.tabs-simple-heading .elementor-tabs-wrapper .elementor-tab-title.elementor-active::after {
    bottom: 25px
}

.elementor-widget-wc-archive-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content,.elementor-widget-wc-archive-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content>*,.elementor-widget-wc-archive-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover>a img {
    transform: translateY(0)
}

.elementor-widget-wc-archive-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-left ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: 0
}

.elementor-widget-wc-archive-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-right ul.products li.product .star-rating {
    margin-left: auto;
    margin-right: 0
}

.elementor-widget-wc-archive-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-center ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: auto
}

.elementor-widget-wc-archive-products.has-theme-widget-styles ul.products {
    grid-template-columns: repeat(1,1fr)
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart.variations_form .woocommerce-variation-add-to-cart,.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart:not(.grouped_form):not(.variations_form) {
    flex-wrap: wrap
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart form.cart:not(.grouped_form):not(.variations_form) {
    flex-direction: initial;
    align-content: flex-start;
    align-items: flex-start
}

html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart .quantity+.button,html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart .quantity~.added_to_cart {
    margin: 20px 0 0
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles.elementor-add-to-cart-mobile--align-justify .added_to_cart {
    flex-basis: 100%
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles table.variations td.label {
    display: none
}

html body.woocommerce .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles table.variations.elementor-add-to-cart--align-center form.cart .woocommerce-variation-add-to-cart .button,html body.woocommerce .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles table.variations.elementor-add-to-cart--align-center form.cart .woocommerce-variation-add-to-cart .quantity {
    margin-left: auto!important;
    margin-right: auto!important
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles .added_to_cart {
    margin-top: 0!important
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles .elementor-add-to-cart.elementor-product-simple {
    position: relative;
    width: calc(100% - 70px)
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles form.cart.variations_form .woocommerce-variation-add-to-cart {
    flex-direction: initial;
    align-content: flex-start;
    align-items: flex-start
}

html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles.elementor-add-to-cart--align-justify form.cart.variations_form .quantity+.button,html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles.elementor-add-to-cart--align-justify form.cart.variations_form .quantity~.added_to_cart,html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles.elementor-add-to-cart--align-justify form.cart:not(.grouped_form):not(.variations_form) .quantity+.button,html body:not(.rtl) .elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles.elementor-add-to-cart--align-justify form.cart:not(.grouped_form):not(.variations_form) .quantity~.added_to_cart {
    margin: 0
}

.elementor-widget-woocommerce-product-add-to-cart.has-theme-widget-styles .woocommerce-variation-add-to-cart {
    position: relative;
    width: calc(100% - 70px)
}

.elementor-widget-woocommerce-product-images.has-theme-widget-styles .woocommerce-product-gallery {
    flex-direction: column
}

.elementor-widget-woocommerce-product-images.has-theme-widget-styles div.images {
    height: auto!important
}

.elementor-widget-woocommerce-product-images.has-theme-widget-styles div.images .flex-control-thumbs {
    flex-direction: row;
    max-width: none;
    min-height: 100px
}

.woocommerce .elementor-widget-woocommerce-product-images.has-theme-widget-styles div.images .flex-control-thumbs {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
    margin-right: 0
}

.elementor-widget-woocommerce-product-images.has-theme-widget-styles div.images .flex-control-thumbs li {
    min-width: 100px;
    width: 100px!important
}

.elementor-widget-woocommerce-product-images.has-theme-widget-styles div.images :is( .product-gallery-thumbs-prev,.product-gallery-thumbs-next ) {
    display: none
}

.elementor-widget-woocommerce-product-related.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content,.elementor-widget-woocommerce-product-related.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content>*,.elementor-widget-woocommerce-product-related.has-theme-widget-styles ul.products li.product:not(.product-category):hover>a img {
    transform: translateY(0)
}

.elementor-widget-woocommerce-product-related.has-theme-widget-styles.elementor-product-loop-item-mobile--align-left ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: 0
}

.elementor-widget-woocommerce-product-related.has-theme-widget-styles.elementor-product-loop-item-mobile--align-right ul.products li.product .star-rating {
    margin-left: auto;
    margin-right: 0
}

.elementor-widget-woocommerce-product-related.has-theme-widget-styles.elementor-product-loop-item-mobile--align-center ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: auto
}

.elementor-widget-woocommerce-product-related.has-theme-widget-styles ul.products {
    grid-template-columns: repeat(1,1fr)
}

.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content,.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content>*,.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles ul.products li.product:not(.product-category):hover>a img {
    transform: translateY(0)
}

.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles.elementor-product-loop-item-mobile--align-left ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: 0
}

.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles.elementor-product-loop-item-mobile--align-right ul.products li.product .star-rating {
    margin-left: auto;
    margin-right: 0
}

.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles.elementor-product-loop-item-mobile--align-center ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: auto
}

.elementor-widget-woocommerce-product-upsell.has-theme-widget-styles ul.products {
    grid-template-columns: repeat(1,1fr)
}

.elementor-widget-woocommerce-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content,.elementor-widget-woocommerce-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover .product-content>*,.elementor-widget-woocommerce-products.has-theme-widget-styles ul.products li.product:not(.product-category):hover>a img {
    transform: translateY(0)
}

.elementor-widget-woocommerce-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-left ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: 0
}

.elementor-widget-woocommerce-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-right ul.products li.product .star-rating {
    margin-left: auto;
    margin-right: 0
}

.elementor-widget-woocommerce-products.has-theme-widget-styles.elementor-product-loop-item-mobile--align-center ul.products li.product .star-rating {
    margin-right: auto;
    margin-left: auto
}

.elementor-widget-woocommerce-products.has-theme-widget-styles ul.products {
    grid-template-columns: repeat(1,1fr)
}

.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles .elementor-menu-cart__container .elementor-menu-cart__main {
    min-width: 100%
}

.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles.elementor-menu-cart--buttons-mobile-inline .elementor-menu-cart__footer-buttons {
    grid-template-columns: 1fr 1fr
}

.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles.elementor-menu-cart--buttons-mobile-stacked .elementor-menu-cart__footer-buttons {
    grid-template-columns: 1fr
}

.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles .elementor-menu-cart__wrapper .elementor-menu-cart__container>.elementor-menu-cart__main {
    padding-left: 0;
    padding-right: 0
}

.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles>.elementor-menu-cart__header,.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles>.widget_shopping_cart_content .cart_item,.elementor-widget-woocommerce-menu-cart.has-theme-widget-styles>.widget_shopping_cart_content>:not(.woocommerce-cart-form__contents) {
    padding-left: 20px;
    padding-right: 20px
}

.is-wishlist .page-template-default .meta-header-inside {
    padding: var(--content-space-l) 0
}
